/* .header{
  background-color: tomato;
  padding: 0.3em;
  margin-bottom: 3em;
  color: white;
  text-align: center;
} */

/* .main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item{
  background-color:rgb(119, 118, 118);
  width: 80%;
  margin-bottom: 3em;
  text-align: justify;
  padding: 0.8em;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 3px;
  word-break:break-all;

} */

.App{
  _background-color: rgb(246, 242, 237);
}




